.favorite {

  .favorite__content-slider {

    .slider-btn {
      cursor: pointer;
      transition: all .3s ease;
    }
  }
}

@media (hover:hover) {

  .slider-btn:hover {

    svg {
      fill: $background-container;
      transition: all .3s ease;

      path {
        stroke: $text-light;
        transition: all .3s ease;
      }
    }
  }

  .slider__btn-right:hover {

    transform: translateY(-5%);
    transition: all .3s ease;
  }

  .slider__btn-right:active {

    transform: translateY(0);
  }

  .slider__btn-left:hover {

    transform: translateY(5%);
    transition: all .3s ease;
  }

  .slider__btn-left:active {

    transform: translateY(0);
  }
}