.menu {
  .menu__content {

    .menu__content-filter {
      display: flex;
      justify-content: center;

      .filter__btn {
        display: flex;
        align-items: center;
        border: solid 1px $border-light;
        border-radius: 100px;
        padding: 8px;
        margin: 40px 8px 40px 8px;
        transition: all .5s ease;

        svg {
          margin-right: 8px;

          rect {
            transition: all .5s ease;
          }
        }

        p {
          @include link-button;
          color: $text-dark;
          margin-right: 8px;
          transition: all .5s ease;
        }

        @media screen and (max-width:500px) {
          margin: 40px 0 40px 8px;
        }
      }

      .filter__btn-active {
        background: $background-container;

        svg {
          rect {
            fill: $background-body;
          }
        }

        p {
          color: $text-light;
        }
      }
    }
  }
}

@media (hover:hover) {
  .menu {
    .menu__content {
      .menu__content-filter {

        .filter__btn:hover {
          background: $background-container;
          cursor: pointer;

          svg {
            rect {
              fill: $background-body;
            }
          }

          p {
            color: $text-light;
          }
        }
      }
    }
  }
}