.modal {

  .modal__size-buttons,
  .modal__additives-buttons {
    display: flex;
    flex-wrap: wrap;

    .modal__size-btn {
      @include link-button;
      cursor: pointer;
      display: flex;
      border: 1px solid $border-light;
      border-radius: 100px;
      background: $background-body;
      margin-right: 8px;
      transition: all .3s ease;

      &:last-child {
        margin-right: 0;
      }

      .sizes {
        color: $text-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $border-light;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 8px;
        transition: all .3s ease;

        p {
          color: $text-dark;
        }
      }

      .sizes-ml {
        display: flex;
        align-self: center;
        margin-right: 16px;
      }

      @media (hover:hover) {
        &:not(.btn-active):hover {
          color: $text-light;
          background: #8b8378;
          ;

          .sizes {
            color: $text-dark;
            background: $background-body;
          }
        }
      }

      @media screen and (max-width:830px) {
        margin-bottom: 5px;
      }
    }

    .btn-active {
      background: $background-container;
      color: $text-light;

      .sizes {
        background: $background-body;
        color: $text-dark
      }
    }
  }

  .modal__content-close {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      cursor: pointer;
      width: 100%;
      border: 1px solid $border-dark;
      border-radius: 100px;
      background: $background-body;
      transition: all .3s ease;

      p {
        @include link-button;
        color: $text-dark;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      @media (hover:hover) {
        &:hover {
          color: $text-light;
          background: $background-container;
        }
      }
    }
  }
}