.header {
  .header__burger-btn {
    display: none;
    width: 44px;
    height: 44px;
    border: 1px solid $text-dark;
    border-radius: 50%;
    position: relative;
    margin-top: 8px;
    transition: all .3s ease;

    span {
      width: 16px;
      height: 1.5px;
      left: 13px;
      top: 21px;
      position: absolute;
      background: $text-dark;

      &:first-child {
        transform: translateY(-4px);
        transition: all .3s ease;
      }

      &:last-child {
        transform: translateY(4px);
        transition: all .3s ease;
      }
    }
  }

  @media (hover:hover) {
    .header__burger-btn:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 768px) {
    .header__burger-btn {
      display: block;
      z-index: 1;
    }

    .header__nav {
      position: fixed;
      transform: translateX(100%);
      top: 0;
      width: 100%;
      background: $background-body;
      height: 1000%;
      margin: 0;
      z-index: 1;
      transition: transform .3s ease;

      ul {
        display: block;
        opacity: 0;
      }
    }

    .open {
      transform: translateX(-5%);
    }

    body._lock {
      overflow: hidden;
    }

    .burger-active {
      span {
        &:first-child {
          transform: rotate(135deg);
        }

        &:last-child {
          transform: rotate(-135deg);
        }
      }
    }

    .header__nav.open {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 8.3rem;
      text-align: center;

      ul {
        font-size: 25px;
        line-height: 400%;
        opacity: 1;

        a {
          @include burger-link;
        }
      }
    }

    .header__menu-link {
      position: fixed;
      width: 100%;
      transform: translateX(100%);
      transition: all .3s ease;
      opacity: 0;

      a {
        @include burger-link;
        display: flex;

        img {
          margin-left: 1rem;
          width: 1.3em;
        }
      }
    }

    .header__menu-link.open {
      display: flex;
      position: fixed;
      width: 100%;
      top: 36.6rem;
      justify-content: center;
      transform: translateX(-5%);
      z-index: 1;
      opacity: 1;

      a {
        @include burger-link;
      }
    }
  }
}

@media (hover:hover) {
  .header {
    .header__burger-btn:hover {
      background: $background-container;
      span {
        background: $background-body;
      }
    }
  }
}