.favorite {
  .slider__content {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 490px;

    @media screen and (max-width:550px) {
      width: 350px;

      .slider__item {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }

  .panel__control {
    .load {
      width: 0%;
      height: 100%;
    }
  }
}

.animate__load {
  animation: line-load 3s linear forwards;
}

@keyframes line-load {
  0% {
    width: 0;
  };
  100% {
    width: 100%;
  }
}

@keyframes left-swipe {
  0% {
    transform: translateX(-100%);
  };
  100% {
    transform: translateX(0);
  }
}

@keyframes right-swipe {
  0% {
    transform: translateX(100%);
  };
  100% {
    transform: translateX(0);
  }
}

.animate__left {
  animation: left-swipe .5s;
}

.animate__right {
  animation: right-swipe .5s;
}