.modal {
  padding-left: 38px;
  padding-right: 38px;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: #403F3DCC;
  z-index: 9999;

  .modal__container {
    display: flex;
    justify-content: space-between;

    background: $background-body;
    border-radius: 40px;
    max-width: 800px;
    width: 100%;
    // margin: 20.8dvh auto;
    padding: 16px;

    .modal__container-img {
      position: relative;
      overflow: hidden;
      width: 310px;
      height: 310px;
      border-radius: 40px;
      object-fit: cover;

      img {
        position: absolute;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        transition: transform .4s ease;
      }
    }

    .modal__container-content {
      padding-left: 20px;

      h2 {
        @include heading-3;
      }

      h3 {
        @include body-medium;
        margin-bottom: 8px;
      }

      .modal__content-subtitle {
        @include body-medium;
        margin-top: 12px;
      }

      .modal__content-subtitle,
      .modal__content-size,
      .modal__content-additives,
      .modal__content-total,
      .modal__content-alert {
        margin-bottom: 20px;
      }

      @media screen and (max-width:830px) {

        .modal__content-size,
        .modal__content-additives {
          margin-bottom: 15px;
        }
      }

      .modal__content-total {
        display: flex;
        justify-content: space-between;
      }

      .modal__content-alert {
        display: flex;
        justify-content: space-between;

        svg {
          margin-top: 8px;
        }

        p {
          @include body-caption;
          margin-left: 8px;
          margin-top: 8px;
          margin-bottom: 13px;
        }
      }
    }

    @media screen and (max-width:830px) {

      margin: 26dvh auto;
    }

    @media screen and (max-width:700px) {

      margin: 13dvh auto;

      .modal__container-img {
        display: none;
      }
    }
  }

  @media screen and (max-width:700px) {
    padding-left: 19px;
    padding-right: 19px;

    .modal__container {
      .modal__container-content {
        padding-left: 0px;
      }
    }
  }
}

.modal__open {
  display: flex;
}