*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: $text-dark;
  background: $background-body;
}

.container__home {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  margin: 0 auto 40px auto;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 450px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container__menu {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  margin: 0 auto 40px auto;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 380px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}