.footer {
  background: $background-container;
  border-radius: 40px;

  .footer__content {
    display: flex;
    align-items: center;
    padding: 100px;

    .footer__content-left {
      max-width: 530px;
      width: 100%;
      margin-right: 100px;

      .footer__content-title {
        margin-bottom: 40px;

        h2 {
          @include heading-2;
          color: $text-light;
          letter-spacing: 0.02rem;

          span {
            @include heading-2-accent;
            color: $text-accent;
          }
        }
      }

      .footer__content-web {
        display: flex;
      }
    }

    .footer__content-right {
      min-width: 265px;

      .footer__contacts-title {
        margin-bottom: 40px;

        h3 {
          @include heading-3;
          color: $text-light;
        }
      }
    }

    @media screen and (max-width:1140px) {
      .footer__content-left {
        margin-right: 10%;
      }

      @media screen and (max-width:1124px) {
        padding: 100px 60px 94px 60px;
        flex-direction: column;
        align-items: start;

        .footer__content-left {
          margin-bottom: 94px;
          margin-right: 0;
        }

        .footer__content-right {
          .footer__contacts-title {
            margin-bottom: 37px;
          }
        }
      }
    }
  }
}