header {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
  height: 60px;

  nav {
    flex-basis: 39.5%;
    margin: 15px;

    @media screen and (max-width: 1050px) {
      flex-basis: 52.5%;
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;

    list-style: none;
  }

  .link {
    @include link-button;
    color: $text-dark;
    text-decoration: none;

    position: relative;
    transition: 0.3s ease;
  }

  .link:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $text-dark;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: scaleX(0);
    transition: transform .5s ease;
  }

  #link-active {
    cursor: default;
  }

  #link-active:before {
    transform: scaleX(1.1);

    @media screen and (max-width: 768px) {
      transform: scaleX(0);
    }
  }

  .header__menu-link {
    margin: 15px 0;

    img {
      margin-left: 0.28rem;
    }
  }
}


@media (hover:hover) {

  header {
    .link:hover:before {
      transform: scaleX(1.1);
      transition: transform .5s ease;
    }
  }
}